html, body {
  margin: 0;
  padding: 0;
}

.sketch-div {
  z-index: 0;
}

h1 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 1;

  font-size: 128px;
  font-weight: 50;
  color:white;
}

a-scene {
  z-index: 1;
}